.gau {
    margin-top: 20px;

}

.ppp {
    margin-top: 10px;
}

/*.p_max {*/
    /*font-size: 18px;*/

/*}*/

h2{
    margin-top: 35px;
    text-align: center;
}

.biaoti {
    font-size: 18px;
    font-weight: 700;
}
