body {
    padding-top: 50px;
    color: #5a5a5a;
}

/*logo*/

/* 轮播广告 */

.carousel {
    height: 400px;
    margin-bottom: 20px;
}

.carousel .item {
    height: 400px;
    background-color: #000;
}

.concise a:link {
    display: block;
    color: #0f0f0f;
    text-decoration: none;
}

.carousel .item img {
    width: 100%;
}

.carousel-caption {
    z-index: 10;
}

/*横线*/

.container_hxbox {

    position: relative;
}

.container_hx {
    width: 100%;
    height: 2px;
    background-color: #cccccc;
    margin-top: 30px;
}


.container_wz a:link {
    color: #0f0f0f;
    text-decoration: none;
}

/* 简介 */

.ding {
    margin-top: 20px;
}

.concise .gsjs {
    color: #333;
    font-size: 22px;
    font-family: "微软雅黑";
    padding-bottom: 2px;
}

.concise .gsjs a {
    color: #428bca;
}

.concise p {
    color: #333;
    font-size: 14px;
    line-height: 24px;
}

.concise .img_gsjj {
    padding-left: 20px;
    width: 470px;
    height: 300px;
}


.information img {
    padding-top: 30px;
}

.information p {
    color: #333;
    font-size: 14px;
    line-height: 24px;
}

.information p a {
    margin-top: 54px;
    color: #428bca;
}

.information .yuchu2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.information .yuchu2 a {
    color: #333333;
}

.information .yuchu {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.information .cl_wz {
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.information .s8 {
    float: right;
}

.information img {
    width: 100%;
}

.information a {
    color: #333333;
}
.information a:link {
    color: #0f0f0f;
    text-decoration: none;
}

.ding a:hover {
    color: #428bca;
}

.information_zixu {
    border-bottom: 1px dashed #c1b6b6;
    margin-bottom: 4px;
}

.cha_kan a {
    margin-top: 54px;
    color: #1e7dd7;
}

.cha_kan a:hover {
    color: #428bca;
}

    /*查看更多*/

/*.seemore {*/
    /*margin: 0 auto;*/
    /*margin-top: 40px;*/
    /*text-align: center;*/
    /*height: 40px;*/
    /*width: 150px;*/
    /*background-color: #2a6792;*/
    /*font-size: 18px;*/
    /*color: #FFFFFF;*/
    /*line-height: 40px;*/
/*}*/


.seemore {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.seemore a {
    margin: 0 auto;
    width: 158px;
    line-height: 35px;
    border: 1px solid #666;
    color: #666;
    display: block;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

.seemore a:hover {
    margin: 0 auto;
    display: block;
    text-decoration: none;
    background: #1e7dd7;
    border: 1px solid #1e7dd7;
    color: #fff;
}

/*产品展示*/
.exhibition img {
    width: 100%;
    height: 165px;
    border: 1px solid #eeeeee;
}

/*.col-md-2 {*/
/*height: 80px;*/
/*border: 1px solid #989898;*/
/*}*/
.exhibition p {
    padding-top: 16px;
    text-align: center;
}

/*底部*/
.fot {
    margin-top: 48px;
    background-color: #1b252e;
}

.fot span {
    margin-top: 48px;
    display: block;
    border-bottom: 1px solid #313a43;
    margin-bottom: 28px;
}

.fot a {
    display: block;
    color: #8B939D;
    text-decoration: none;
}

.fot a:hover {
    color: #D80808;
}

.fot_fot {
    color: #8B939D;
    padding-left: 420px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*c3自适应图片*/
/*.max_img {*/
/*background-image: url("../images/banner.jpg");*/
/*background-repeat: repeat no-repeat;*/
/*}*/

/* 响应式布局 */

@media (max-width: 768px) {

    .summary {
        padding-right: 3px;
        padding-left: 3px;
    }

    .carousel {
        height: 300px;
        margin-bottom: 30px;
    }

    .carousel .item {
        height: 300px;
    }

    .carousel img {
        min-height: 300px;
    }

    .carousel-caption p {
        font-size: 16px;
        line-height: 1.4;
    }

    .feature-heading {
        font-size: 34px;
    }

    .feature-heading .text-muted {
        font-size: 22px;
    }
}

@media (min-width: 992px) {
    .feature-heading {
        margin-top: 120px;
    }
}