img {
    height: 400px;
}

/*内容*/
.news_inf  {
    margin-top: 30px;
}

.news_b p{
    padding-left: 53px;
    height: 59px;
    line-height: 59px;
    border-bottom: 1px solid #c0c0c0;
    font-size: 22px;
    color: #3c3c3c;
}

.news_c p {
    text-align: center;
    height: 59px;
    line-height: 59px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #2a6792;
}

.news_hx {
    height: 219px;
    border-bottom: 1px dashed #c0c0c0;
}


.news_hx p {
    color: #919191;
    padding-top: 10px;
    font-size: 12px;
}

.news_hx .news_tit {
    font-size: 14px;
}

.new_a {
    padding-top: 50px;
}
.news_hx a {
    text-decoration: none;
}