.qs {
    margin-bottom: 30px;
    border-bottom: 1px dashed #cccccc;
}

.p1 {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 700;
}

.p_text {
    text-indent: 25px;
}

.p_text1 {
    text-indent: 25px;
    font-size: 16px;
    line-height: 26px;

}
.p_a a {
    color: #1f7dd7;
    font-size: 12px;
    text-decoration: none;
}